@{
    Layout = "~/Views/Shared/_HomeNav.cshtml";
    ViewBag.Title = "Create Class";
}
@model Class

<form method="post" style="margin-left: 5px;margin-top: 5px;">
    <div class="mb-3">
        <label class="form-label" asp-for="ClassName"></label>
        <input class="form-control" asp-for="ClassName" />
        <span class="text-danger" asp-validation-for="ClassName"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="SubName"></label>
        <input class="form-control" asp-for="SubName" />
        <span class="text-danger" asp-validation-for="SubName"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>